body {
    font-family: sans-serif;
    font-size: 14pt;
    background-color: lightgray;
    margin: 10px;
}

input.button {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12pt;
    background-color: olivedrab;
}

input.button.main {
    background-color: orange;
}

.fum-table{
	border-collapse: collapse;
}

.fum-table-header{
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.fum-table-odd-row{
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.fum-table-even-row{
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}